___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
def lesser_of_two_evens(a,b):
    if a and b % 2 == 0:
        # logical and returns true only if both a and b are true
        return min(a,b)
        # min() returns the smallest numerical argument
    elif a or b % 2 == 0:
        return max(a,b)
    else:
        pass

In [5]:
# Check
lesser_of_two_evens(8,4)

4

In [6]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [9]:
def animal_crackers(text):
    split_text = text.split()
    
    if split_text[0][0].upper() == split_text [1][0].upper():
        return True
    else:
        return False

In [10]:
# Check
animal_crackers('Levelheaded Llama')

True

In [11]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [33]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [34]:
# Check
makes_twenty(20,10)

True

In [35]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [118]:
def old_macdonald(name):
    first_letter = name[0]
    in_between = name[1:3]
    fourth_letter = name[3]
    end_letters = name[4:]
    
    print(first_letter.upper() + in_between + fourth_letter.upper() + end_letters)

In [119]:
# Check
old_macdonald('macdonald')

MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [33]:
def master_yoda(text):
    text = text.split()
    text.reverse()
    text = " ".join(text)
    text = text.capitalize()
    return text

In [34]:
# Check
master_yoda('I am home')

'Home am i'

In [35]:
# Check
master_yoda('We are ready')

'Ready are we'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [70]:
def almost_there(n):
    x1 = range(90,111)
    x2 = range(190,211)
    
    if n in x1 or n in x2:
        return True
    else:
        return False

In [71]:
# Check
almost_there(110)

True

In [72]:
# Check
almost_there(150)

False

In [73]:
# Check
almost_there(210)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [117]:
def has_33(nums):
    for i in range(0,len(nums)-1): # we need to iterate through every value in the list except the last one,
        # since we increment the list index by one. We are starting with 0 because we want to index with the range
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    
    return False

In [118]:
# Check
has_33([3, 3, 4, 5, 3, 5, 6, 7, 9, 8, 9, 10, 3, 1, 2, 4, 3])

True

In [111]:
# Check
has_33([3, 1, 1, 3])

False

In [112]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [129]:
def paper_doll(text):
    text_times_three = []
    
    for letter in text:
        letterx3 = letter * 3
        text_times_three.append(letterx3)
    text_times_three = "".join(text_times_three)
    return text_times_three

In [130]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [131]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [139]:
def blackjack(a,b,c):
    
    sum_ = sum([a,b,c])
    
    if sum_ <= 21:
        return sum_
    elif sum_ > 21 and a == 11 or b == 11 or c == 11:
        return sum_ - 10
    elif sum_ > 21:
        return print('BUST')
    else:
        pass

In [144]:
# Check
blackjack(5,6,7)

18

In [141]:
# Check
blackjack(9,9,9)

BUST

In [142]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [5]:
def summer_69(numbers):
    
    total = 0
    add = True
    
    for num in numbers:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [6]:
# Check
summer_69([1, 3, 5])

9

In [7]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [8]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [12]:
def spy_game(nums):
    
    jbond = [0,0,7,'x']
    
    for num in nums:
        if num == jbond[0]:
            jbond.pop(0)
    return len(jbond) == 1

In [13]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [14]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [15]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [1]:
def count_primes(num):
    
    # Check for 0 or 1 input
    if num < 2:
        return 0
    
    # 2 or greater
    
    # Store our prime numbers
    primes = [2]
    # Counter going up to the input num
    x = 3
    
    # x is going through every number up to input num
    while x <= num:
        # Check if x is prime
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [16]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25